.cr-container {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 16px 16px;
  background-color: white;

  .header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    padding: 0 16px;
    overflow: hidden;
  }

  .messagesWrapper {
    position: absolute;
    top: 100px;
    bottom: 150px;
    padding: 0 16px;
    right: 0;
    left: 0;
    overflow: auto;

    .messages {
      display: flex;
      flex-direction: column;
      list-style-type: none;
      padding: 0;
    }

    .messageItem {
      border: 1px solid lightgrey;
      border-radius: 2%;
      padding: 10px;
      width: 40%;
      min-height: 25px;
      margin-bottom: 16px;
      word-wrap: break-word;
    }

    .myMessage {
      background-color: #fefbd8;
      margin-left: auto;
    }

    .receivedMessage {
      background-color: #d5f4e6;
    }
  }

  .actionArea {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 0 16px 8px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    .messageArea {
      height: 150px;
    }

    button {
      height: 40px;
      margin-top: 8px;
      background-color: #618685;
      font-size: 20px;
      font-weight: bold;
      color: white;
    }
  }
}
